<div class='container'>
	<div style="background-color: #eeeeee; border-radius: 20px; padding: 15px">
		<h1 style="padding: 0px; margin-top: 10px"> Funding Opportunities </h1>
			<table class="table table-striped">
				<tr>
					<th>Borrower</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Interest</th>
					<th>Expires</th>
					<th>Amount Funded</th>
					<th></th>
				</tr>
				<% for(var i=0; i<loan.length; i++) {%>
				<tr>
				   <td><a href="/user/show/<%= loan[i].user_id %>"><%= loan[i].borrower %></a></td>
				   <td><%= loan[i].description %></td>
				   <td><%= loan[i].amount %></td>
				   <td><%= loan[i].interest %></td>
				   <td><%= loan[i].expires.getDate() %> <%= months[loan[i].expires.getMonth()] %> <%= loan[i].expires.getFullYear() %></td>
				   <td><%= loan[i].amountFunded %></td>
				   <td><a href="/loan/fund/<%= loan[i].id %>" class="btn btn-sm btn-primary">Fund</a></td>
				</tr>
				<% } %>
			</table>

		<% if(withdrawal){ %>
			<% if(withdrawal.length>0){ %>
			<h1> Confirm Funds </h1>
				<table class="table table-striped">
					<tr>
						<th>Borrower</th>
						<th>Description</th>
						<th>Amount</th>
						<th>Interest</th>
						<th>Matures</th>
						<th>Your Investment</th>
						<th></th>
					</tr>
					
						<% for(var i=0; i<withdrawal.length; i++) {%>
							<tr>
								<td><a href="/user/show/<%= withdrawal[i].id %>"><%= withdrawal[i].borrower %></a></td>
								<td><%= withdrawal[i].description %></td>
								<td><%= withdrawal[i].amount %></td>
								<td><%= withdrawal[i].interest %></td>
				   				<td><%= withdrawal[i].matures.getDate() %> <%= months[withdrawal[i].matures.getMonth()] %> <%= withdrawal[i].matures.getFullYear() %></td>
								<td><%= withdrawal[i].commitment %></th>
								<td><a href="/withdrawal/confirm?id=<%= withdrawal[i].loanID %>&lender=<%= withdrawal[i].lender %>" class="btn btn-sm btn-primary">Confirm</a></td>
							</tr>
						<% } %>
				</table>
				<% } %>
			<% } %>
	</div>
</div>